{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "tailwindcss"
  ],
  "extends": [
    "plugin:tailwindcss/recommended"
  ],
  "overrides": [
    {
      "files": ["*.html", "*.html.erb", "*.html.slim"],
      "parser": "@angular-eslint/template-parser",
      "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
      }
    }
  ]
}
